target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS ###
*.dll
.vs
packages
WSCCore/bin
WSCData/bin
WSCSecurity/bin
WSCCore/obj
WSCData/obj
WSCSecurity/obj

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/