<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="queueManager">
<div class="intro-text">
    <span class="name">Queue</span>
    <hr class="star-light">

    <div th:if="${chosenOnes.size() == 1}">
        <span class="skills" th:text="'Todays chosen one is:'"></span>

        <div class="chosenOnes">
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
            <span th:text="${chosenOnes[0].login}"></span>
            <span th:text="'(' + ${#dates.format(chosenOnes[0].lastCall, 'dd-MM-yyyy') + ')'}"></span>
            <i class="fa fa-hand-o-left" aria-hidden="true"></i>
        </div>
    </div>

    <div th:if="${chosenOnes.size() > 1}">
        <span class="skills" th:text="'Todays chosen ones are'"></span>
        <div class="chosenOnes" th:if="${chosenOnes.size() > 1}" th:each="chosenOne : ${chosenOnes}">

            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
            <span class="skills" th:text="${chosenOne.login}"></span>
            <span th:text="'(' + ${chosenOne.lastCall != null ? #dates.format(chosenOne.lastCall, 'dd-MM-yyyy') : 'Not call yet'} + ')'"></span>
            <i class="fa fa-hand-o-left" aria-hidden="true"></i>
        </div>
    </div>

    Future chosen ones:
    <div th:each="user : ${users}">
        <span class="skills" th:text="${user.login} + ' | '"></span>
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span class="skills" th:text="${#dates.format(user.lastCall, 'dd-MM-yyyy')}"></span>
    </div>

    Manage:
    <div ng-app="">
        <p>Name : <input type="text" ng-model="name"></p>
        <h1>Hello {{name}}</h1>
    </div>
</div>
</body>
</html>