<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <object th:include="/fragments/head/meta :: meta" th:remove="tag" />
    <object th:include="/fragments/head/css :: css" th:remove="tag" />

    <title>Who should ring ? - Home</title>
</head>

<body id="page-top" class="index">

<!-- Navigation -->
<div th:include="/fragments/nav/nav :: nav" th:remove="tag"></div>

<!-- Header -->
<header>
    <div class="container">
        <img class="img-fluid" src="img/profile.png" alt="">
        <div class="intro-text">
            <span class="name">WHO SHOULD CALL?</span>
            <hr class="star-light">
            <span class="skills">Application to help peoples in companies to determine who&#39;s turn is to call and order food.</span>
        </div>
    </div>
</header>


<!-- Login Section -->
<!--<div th:replace="login :: login"></div>-->

<!--&lt;!&ndash; Food Providers Grid Section &ndash;&gt;-->
<!--<div th:replace="food_providers :: food_providers"></div>-->

<!--&lt;!&ndash; About Section &ndash;&gt;-->
<!--<div th:replace="about :: about"></div>-->

<!-- Footer -->
<div th:replace="/fragments/footer/footer :: footer"></div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div th:replace="/fragments/nav/scrollTopBtn :: scrollTopBtn"></div>

<div th:replace="/fragments/scripts/scripts :: scripts"></div>

</body>

</html>
