<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <object th:include="/fragments/head/meta :: meta" th:remove="tag" />
    <object th:include="/fragments/head/css :: css" th:remove="tag" />

    <title>Who should ring ? - Home</title>
</head>

<body id="page-top" class="index">

<!-- Navigation -->
<div th:include="/fragments/nav/nav :: nav" th:remove="tag"></div>

<!-- Header -->
<header>
    <div class="container">
        <img class="img-fluid" src="img/profile.png" alt="">
        <div class="intro-text">
            <span class="name">WHO SHOULD CALL?</span>
            <hr class="star-light">
            <span class="skills">Application to help peoples in companies to determine who&#39;s turn is to call and order food.</span>
        </div>
    </div>
</header>


<!-- Login Section -->
<!--<div th:replace="login :: login"></div>-->

<!--&lt;!&ndash; Food Providers Grid Section &ndash;&gt;-->
<!--<div th:replace="food_providers :: food_providers"></div>-->

<!--&lt;!&ndash; About Section &ndash;&gt;-->
<!--<div th:replace="about :: about"></div>-->

<!-- Footer -->
<div th:replace="footer :: footer"></div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top hidden-lg-up">
    <a class="btn btn-primary page-scroll" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!--BOOTSTRAP-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<!-- Theme JavaScript -->
<script src="js/app.js"></script>

</body>

</html>
