<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-light" th:fragment="navigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        Menu <i class="fa fa-bars"></i>
    </button>
    <div class="container">
        <a class="navbar-brand page-scroll" href="#page-top">Who Should Call ?</a>
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
                <th:block th:switch="${menu.name}">
                    <div th:case="'INDEX'">
                        <li class="nav-item" th:if="${isLoggedIn}">
                            <a class="nav-link page-scroll" th:href="@{/myQueue}" style="color: yellow;">My queue</a>
                        </li>
                    </div>
                    <div th:case="'QUEUE'">
                        <li class="nav-item" th:if="${isUserQueue and isLoggedIn}">
                            <a class="nav-link page-scroll" th:href="@{/myQueue}" style="color: yellow;">My queue</a>
                        </li>
                        <li class="nav-item" th:if="${isModeratorOrAdmin}">
                            <a class="nav-link page-scroll" th:href="@{/queueManager}"
                               style="color: yellow;">Moderate</a>
                        </li>
                    </div>
                </th:block>

                <li class="nav-item" th:unless="${isLoggedIn}">
                    <a class="nav-link page-scroll" href="#login">Login</a>
                </li>
                <li class="nav-item" th:unless="${isLoggedIn}">
                    <a class="nav-link page-scroll" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#foodproviders">Queues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#foodproviders">Food providers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#stats">Stats</a>
                </li>
                <li class="nav-item" th:if="${isLoggedIn}">
                    <a class="nav-link page-scroll" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>