<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>

    <object th:include="/fragments/head/meta :: meta" th:remove="tag" />
    <object th:include="/fragments/head/css :: css" th:remove="tag" />

    <title>Who should ring ? - Queues</title>

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<div th:include="/fragments/nav/nav :: nav" th:remove="tag"></div>

<!-- Header -->
<header>
    <div class="container">
        <img class="img-fluid" src="img/profile.png" alt="">
        <div class="intro-text">
            <span class="name">Queues</span>
            <hr class="star-light">

            <table style="margin-left:auto;margin-right:auto">
                <tr>
                    <th>Queue name</th>
                    <th>Company</th>
                </tr>
                <tr th:each="queue : ${queues}">
                    <td th:text="${queue.name}"></td>
                    <td th:text="${queue.companyName}"></td>
                </tr>
            </table>

        </div>
    </div>
</header>

<!-- Footer -->
<div th:replace="/fragments/footer/footer :: footer"></div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div th:replace="/fragments/nav/scrollTopBtn :: scrollTopBtn"></div>

<div th:replace="/fragments/scripts/scripts :: scripts"></div>

</body>

</html>