<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>

    <object th:include="/fragments/head/meta :: meta" th:remove="tag" />
    <object th:include="/fragments/head/css :: css" th:remove="tag" />

    <title th:text="'Who should ring ? - ' + ${queue.name}"></title>

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<div th:include="/fragments/nav/nav :: nav" th:remove="tag"></div>

<!-- Header -->
<header>
    <div class="container">
        <!--<img class="img-fluid" src="img/profile.png" alt="">-->
        <div th:include="/fragments/body/queue :: queue" th:remove="tag"></div>
    </div>
</header>

<!-- Footer -->
<div th:replace="/fragments/footer/footer :: footer"></div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div th:replace="/fragments/nav/scrollTopBtn :: scrollTopBtn"></div>

<div th:replace="/fragments/scripts/scripts :: scripts"></div>

</body>

</html>