<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>

    <object th:include="/fragments/head/meta :: meta" th:remove="tag" />
    <object th:include="/fragments/head/css :: css" th:remove="tag" />

    <title th:text="'Who should ring ? - ' + ${queue.name}"></title>

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<div th:include="/fragments/nav/nav :: nav" th:remove="tag"></div>

<!-- Header -->
<header>
    <div class="container">
        <img class="img-fluid" src="img/profile.png" alt="">
        <div class="intro-text">
            <span class="name">Queue</span>
            <hr class="star-light">

            <div th:if="${chosenOnes.size() == 1}">
                <span class="skills" th:text="'Todays chosen one is:'"></span>

                <div class="chosenOnes">
                    <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                    <span th:text="${chosenOnes[0].login}"></span>
                    <span th:text="'(' + ${#dates.format(chosenOnes[0].lastCall, 'dd-MM-yyyy') + ')'}"></span>
                    <i class="fa fa-hand-o-left" aria-hidden="true"></i>
                </div>
            </div>

            <div th:if="${chosenOnes.size() > 1}">
                <span class="skills" th:text="'Todays chosen ones are'"></span>

                <div class="chosenOnes" th:if="${chosenOnes.size() > 1}" th:each="chosenOne : ${chosenOnes}">
                    <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                    <span class="skills" th:text="${chosenOne.login}"></span>
                    <span th:text="'(' + ${chosenOne.lastCall != null ? #dates.format(chosenOne.lastCall, 'dd-MM-yyyy') : 'Not call yet'} + ')'"></span>
                    <i class="fa fa-hand-o-left" aria-hidden="true"></i>
                </div>
            </div>

            Future chosen ones:
            <div th:each="user : ${users}">
                <span class="skills" th:text="${user.login} + ' | Last call: ' + ${#dates.format(user.lastCall, 'dd-MM-yyyy')}"></span>
            </div>
        </div>
    </div>
</header>

<!-- Footer -->
<div th:replace="/fragments/footer/footer :: footer"></div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div th:replace="/fragments/nav/scrollTopBtn :: scrollTopBtn"></div>

<div th:replace="/fragments/scripts/scripts :: scripts"></div>

</body>

</html>