<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Application to help peoples in companies to determine who&#39;s turn is to call and order food.">
    <meta name="author" content="Bartlomiej Zuber">

    <title>Who should call ? - Registration</title>

    <!-- Bootstrap Core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Theme CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Temporary navbar container fix until Bootstrap 4 is patched -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }

    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }

    </style>

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false"
            aria-label="Toggle navigation">
        Menu <i class="fa fa-bars"></i>
    </button>
    <div class="container">
        <a class="navbar-brand page-scroll" href="/home">Who Should Call ?</a>
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/home#login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/home#foodproviders">Food providers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/stats">Stats</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Register -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="container" style="padding-top: 5%">
                <h2 class="text-center">Register</h2>
                <hr class="star-primary">
                <div class="row">
                    <div class="col-md-12 offset-md-3">
                        <form th:action="@{/register}" action="#" method="post" th:object="${user}"
                              data-toggle="validator" role="form">

                            <div class="row control-group">
                                <div class="form-group col-md-6 floating-label-form-group controls">
                                    <label>Login</label>
                                    <input th:field="*{login}" type="text" class="form-control" placeholder="Login"
                                           id="login" required
                                           data-validation-required-message="Please enter your login.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>

                            <div class="row control-group">
                                <div class="form-group col-md-6 floating-label-form-group controls">
                                    <label>Password</label>
                                    <input th:field="*{password}" type="password" data-minlength="6"
                                           class="form-control" id="inputPassword" placeholder="Password" required>
                                    <p class="help-block">Minimum of 6 characters</p>
                                </div>
                            </div>

                            <div class="row control-group">
                                <div class="form-group col-md-6 floating-label-form-group controls">
                                    <label>Password</label>
                                    <input type="password" class="form-control"
                                           placeholder="Repeat password" id="password2" required
                                           data-validation-required-message="Please repeat your password."
                                           data-match="#inputPassword" data-match-error="Whoops, these don't match">
                                    <p class="help-block with-errors"></p>
                                </div>
                            </div>

                            <div class="row control-group">
                                <div class="form-group col-md-6 floating-label-form-group controls">
                                    <label>Email Address</label>
                                    <input th:field="*{email}" type="email" class="form-control"
                                           placeholder="Email Address" id="email"
                                           data-error="Bruh, that email address is invalid" required>
                                    <p class="help-block with-errors"></p>
                                </div>
                            </div>

                            <br>
                            <div th:if="${response} != null" class="col-md-6">
                                <div class="alert alert-danger">
                                    <strong>Danger!</strong> [[${response != null ? response.getMessage() : ""}]]
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <button type="submit" class="btn btn-success btn-lg">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Footer -->
<div th:replace="footer :: footer"></div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top hidden-lg-up">
    <a class="btn btn-primary page-scroll" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- jQuery Version 3.1.1 -->
<script src="lib/jquery/jquery.js"></script>

<!-- Tether -->
<script src="lib/tether/tether.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="lib/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>
<script src="js/bootstrapValidator.js"></script>

<!-- Theme JavaScript -->
<script src="js/freelancer.min.js"></script>

</body>

</html>
