<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <object th:include="/fragments/head/meta :: meta" th:remove="tag" />
    <object th:include="/fragments/head/css :: css" th:remove="tag" />

    <title>Who should ring ? - Home</title>
</head>

<body id="page-top" class="index">

<!-- Navigation -->
<div th:include="/fragments/nav/nav :: nav" th:remove="tag"></div>

<!-- Register -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="container" style="padding-top: 5%">
                <h2 class="text-center">Register</h2>
                <hr class="star-primary">
                <div class="row">
                    <div class="col-md-12 offset-md-3">
                        <form th:action="@{/register}" action="#" method="post" th:object="${user}"
                              data-toggle="validator" role="form">

                            <div class="row control-group">
                                <div class="form-group col-md-6 floating-label-form-group controls">
                                    <label>Login</label>
                                    <input th:field="*{login}" type="text" class="form-control" placeholder="Login"
                                           id="login" required
                                           data-validation-required-message="Please enter your login.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>

                            <div class="row control-group">
                                <div class="form-group col-md-6 floating-label-form-group controls">
                                    <label>Password</label>
                                    <input th:field="*{password}" type="password" data-minlength="6"
                                           class="form-control" id="inputPassword" placeholder="Password" required>
                                    <p class="help-block">Minimum of 6 characters</p>
                                </div>
                            </div>

                            <div class="row control-group">
                                <div class="form-group col-md-6 floating-label-form-group controls">
                                    <label>Password</label>
                                    <input type="password" class="form-control"
                                           placeholder="Repeat password" id="password2" required
                                           data-validation-required-message="Please repeat your password."
                                           data-match="#inputPassword" data-match-error="Whoops, these don't match">
                                    <p class="help-block with-errors"></p>
                                </div>
                            </div>

                            <!--<div class="row control-group">-->
                                <!--<div class="form-group col-md-6 floating-label-form-group controls">-->
                                    <!--<label>Email Address</label>-->
                                    <!--<input th:field="*{email}" type="email" class="form-control"-->
                                           <!--placeholder="Email Address" id="email"-->
                                           <!--data-error="Bruh, that email address is invalid" required>-->
                                    <!--<p class="help-block with-errors"></p>-->
                                <!--</div>-->
                            <!--</div>-->

                            <br>
                            <div th:if="${response} != null" class="col-md-6">
                                <div class="alert alert-danger">
                                    <strong>Danger!</strong> [[${response != null ? response.getMessage() : ""}]]
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <button type="submit" class="btn btn-success btn-lg">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Footer -->
<div th:replace="/fragments/footer/footer :: footer"></div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div th:replace="/fragments/nav/scrollTopBtn :: scrollTopBtn"></div>

<div th:replace="/fragments/scripts/scripts :: scripts"></div>

</body>

</html>
