<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body th:fragment="nav">

<nav id="mainNav" class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">WhoShouldCall?</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav" id="rightNav">
            <li class="nav-item" th:if="${auth} == 'ROLE_ANONYMOUS'">
                <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item" th:if="${auth} == 'ROLE_ANONYMOUS'">
                <a class="nav-link" href="register">Register</a>
            </li>
            <li class="nav-item" th:if="${auth} != 'ROLE_ANONYMOUS'">
                <a class="nav-link" href="queues">Queues</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#foodproviders">Food providers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#stats">Stats</a>
            </li>
            <li class="nav-item" th:if="${auth} != 'ROLE_ANONYMOUS'">
                <a class="nav-link" href="logout">Logout</a>
            </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
            <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
    </div>
</nav>
</body>
</html>